## Notebook file for Digital Piracy Analysis of US-Content

In [1]:
# Import libraries
import numpy as np
import pandas as pd
import midterm_functions as mf
import matplotlib.pyplot as plt
import seaborn as sns

# Import the data
df = pd.read_csv('../data/pirated_video.csv')

In [ ]:
# Inspect original data
display(df.info())
display(df.head(3))

In [ ]:
# Run our cleaning pipeline and inspect the results
df = mf.total_clean(df)
display(df.info())
display(df.head(3))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14649 entries, 0 to 14648
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               14649 non-null  object
 1   director            14649 non-null  object
 2   storyline           14649 non-null  object
 3   run_time            14649 non-null  int64
 4   appropriate_for     14649 non-null  object
 5   IMDb-rating         14649 non-null  float64
 6   release_date        14649 non-null  datetime64[ns]
 7   posted_date         14649 non-null  datetime64[ns]
 8   days_before_posted  14649 non-null  timedelta64[ns]
 9   views               14649 non-null  int64
 10  downloads           14649 non-null  int64
 11  download_rate       14649 non-null  float64
dtypes: datetime64[ns](2), float64(2), int64(3), object(4), timedelta64[ns](1)
memory usage: 1.3+ MB

None

,title,director,storyline,run_time,appropriate_for,IMDb-rating,release_date,posted_date,days_before_posted,views,downloads,download_rate
0,The Kid,Not available,"The opening title reads: ""A comedy with a smil...",68,Not available,8.3,1921-02-05,2011-01-27,32863 days,12496,6401,51.22
1,Metropolis,Fritz Lang,"Sometime in the future, the city of Metropolis...",153,Not available,8.3,1927-03-11,2012-02-06,31013 days,5194,936,18.02
2,City Lights,Charles Chaplin,A tramp falls in love with a beautiful blind g...,87,G,8.5,1931-03-06,2011-02-01,29187 days,13248,6111,46.13

In [ ]:
# A variable of the 100 ranked by downloads
top_100 = df.sort_values(by="downloads", ascending=False).head(100)
top_100.head(10)

In [10]:
# A variable of movies in the modern age. 24 June 1993 the first video server was active.
df_new = mf.modern_age_movies(df).reset_index(drop=True)
df_new.head()

,title,director,storyline,run_time,appropriate_for,IMDb-rating,release_date,posted_date,days_before_posted,views,downloads,download_rate
0,Dennis the Menace,Nick Castle,"When his parents have to go out of town, Denni...",94,PG,5.6,1993-06-25,2014-03-17,7570 days,30395,13169,43.33
1,Sleepless in Seattle,Nora Ephron,"After his wife Maggie passes away, Sam Baldwin...",105,PG,6.8,1993-06-25,2014-12-09,7837 days,13158,2739,20.82
2,Hard Target,John Woo,A woman hires a drifter as her guide through N...,97,R,6.2,1993-08-20,2014-03-20,7517 days,43165,14826,34.35
3,Adventures Of Sonic The Hedgehog,Not available,Not available,30,TV-Y,6.2,1993-09-06,2009-06-14,5760 days,13831,3295,23.82
4,Striking Distance,Not available,A serial killer is back in Pittsburgh to torme...,102,R,5.9,1993-09-17,2014-11-27,7741 days,14255,3440,24.13